node {
    fill-color: black, gray;
    fill-mode: gradient-radial;
}
node.marked {
    size: 20px;
    fill-color: red, pink;
    fill-mode: gradient-diagonal2;
}


edge.marked {
    fill-color: red;
}
